---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import YearCard from "../components/YearCard.astro";
import type { ImageMetadata } from "astro";

import { getCollection } from "astro:content";

const pastYears = (await getCollection("pastYears")).toSorted().reverse();
---

<DefaultLayout
  title="Past Years"
  description="Learn about our past years' projects and the charities we've supported over the years."
>
  <div class="container grid auto-cols-auto grid-flow-col gap-7">
    <div class="space-content my-12">
      <h1>Past Years</h1>
      <div class="container flex flex-wrap justify-center gap-5">
        {
          pastYears.map((pastYear) => {
            return (
              <YearCard
                year={pastYear.data.year}
                title={pastYear.data.title}
                theme={pastYear.data.theme}
                charityName={pastYear.data.charityName}
                charityLink={pastYear.data.charityLink}
                cover={pastYear.data.cover}
                coverAlt={pastYear.data.coverAlt}
                amountUS={pastYear.data.amountUS}
                amountUK={pastYear.data.amountUK}
              />
            );
          })
        }
      </div>
    </div>
  </div>
</DefaultLayout>
