---
import { Icon } from "astro-icon/components";
import type { SocialLinksData } from "@fujocoded/zod-transform-socials";

interface Props {
  name: string;
  avatar: string;
  roles: Array<string>;
  links: SocialLinksData;
  mod_duties: Array<String>;
  bio: string;
}

const props = Astro.props;

const altText: string = `${props.name}'s Avatar`;
---

<article
  class="w-prose space-content bg-daa-white/10 border-gold mb-4 flex max-w-[90vw] flex-col rounded-xl border px-6 lg:w-full"
>
  <div class="prose-daa grid auto-cols-max grid-flow-col gap-x-6">
    <div
      class="bg-teal-mid align-center row-span-3 flex h-24 w-24 justify-center self-center rounded-full"
    >
      <img
        src={props.avatar}
        alt={altText}
        class="h-24 w-24 self-center rounded-full"
        loading="lazy"
      />
    </div>
    <h3 class="font-display! z-10 mb-0! p-0! leading-8!">{props.name}</h3>
    <div
      class="mt-2! font-mono text-sm leading-4! text-wrap wrap-break-word capitalize xl:w-full xl:flex-nowrap"
    >
      <ul class="list-style-none! m-0! flex flex-wrap pl-6">
        {
          props.roles.map((role, index) => (
            <li>{index - (props.roles.length - 1) ? role + ",\xa0" : role}</li>
          ))
        }
      </ul>
    </div>
    <ul class="list-style-none! mt-0! flex flex-row gap-2 p-0!">
      {
        props.links.map((link) => (
          <li class="w-6">
            <a href={link.url}>
              {link.icon ? (
                <>
                  <Icon name={link.icon} title={link.platform} />
                </>
              ) : (
                <>
                  <Icon
                    name={"lucide:home"}
                    title={`${props.name}'s website`}
                  />
                </>
              )}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div
    class="space-content border-pink scrollbar-thin scrollbar-gold shadow-arcane-800 h-[200px] overflow-y-scroll border-t px-5 pt-5 shadow-[inset_0_10px_9px_-10px]"
  >
    {props.bio}
  </div>
</article>
