---
import type { ImageMetadata } from "astro";

interface Props {
  year: number;
  title: string;
  theme: string;
  charityName: string;
  charityLink: string;
  cover: ImageMetadata;
  coverAlt: string;
  amountUS: number | string;
  amountEU: number | string;
}

const props = Astro.props;

const dollars = new Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USD",
});

const euros = new Intl.NumberFormat("en-UK", {
  style: "currency",
  currency: "EUR",
});

// Convert to numbers first
const amountUSNum = Number(props.amountUS);
const amountEUNum = Number(props.amountEU);

// Fallback logic
const donationUS = Number.isNaN(amountUSNum)
  ? "$ TBD"
  : dollars.format(amountUSNum);

const donationEU = Number.isNaN(amountEUNum)
  ? "€ TBD"
  : euros.format(amountEUNum);
---

<article
  class="w-prose hover:border-pink relative min-h-full flex-col rounded-lg hover:border md:w-90"
>
  <div
    class="bg-arcane-800 border-gold flex h-64 rounded-t-xl border-b-8 px-6 py-12"
  >
    <img
      src={props.cover.src}
      alt={props.coverAlt}
      class="self-center sm:w-90"
    />
  </div>
  <div class="flex h-64">
    <ul class="list-style-none! ml-4! self-center pb-4">
      <li>
        <strong>Theme:</strong>
        {props.theme}
      </li>
      <li>
        <strong>Charity:</strong>
        <a href={props.charityLink}>{props.charityName}</a>
      </li>
      <li>
        <strong>Donation:</strong>
        {donationUS} / {donationEU}
      </li>
    </ul>
  </div>
</article>
