---
import "../styles/global.css";
import SiteMeta from "../components/SiteMeta.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Announcement from "../components/Announcement.astro";
import { Font } from "astro:assets";

const {
  title,
  description,
  image,
  author = "Dragon Age Annual Mods",
} = Astro.props;
---

<html
  lang="en"
  dir="ltr"
  class="scrollbar-track-daa-white/10 scrollbar-thin scrollbar-gold"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph -->
    <SiteMeta
      subtitle={title}
      description={description}
      url={Astro.site
        ? `${Astro.site}${Astro.url.pathname})}`
        : `https://dragonageannual.art${Astro.url.pathname}`}
      image={image}
      author={author}
    />
    <!-- fonts -->
    <Font cssVariable="--font-atkinson-hyperlegible" preload />
    <Font cssVariable="--font-lexend" preload />
    <Font cssVariable="--font-daa" preload />
    <Font cssVariable="--font-victor-mono" preload />
  </head>
  <body
    class="bg-arcane-300 dark:bg-arcane-600 scrollbar-track-daa-white/10 scrollbar-thin scrollbar-gold"
  >
    <Announcement />
    <Navigation />
    <main id="main-content" class="main" transition:animate="fade">
      <slot />
    </main>

    <Footer />
    <style is:global>
      /* sticky footer on low content pages */
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: #eceff4;
          }
        }
      }
    </style>
  </body>
</html>
