---
import "../styles/global.css";
import SiteMeta from "../components/SiteMeta.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Announcement from "../components/Announcement.astro";

const {
  title,
  description,
  image,
  author = "Dragon Age Annual Mods",
} = Astro.props;
---

<html
  lang="en"
  dir="ltr"
  class="scrollbar-thin scrollbar-track-transparent scrollbar-thumb-nord9"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta
      subtitle={title}
      description={description}
      url={Astro.site
        ? `${Astro.site}${Astro.url.pathname})}`
        : `https://dragonageannual.art${Astro.url.pathname}`}
      image={image}
      author={author}
    />
  </head>
  <body class="bg-light-purple dark:bg-medium-purple">
    <Announcement />
    <Navigation />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style is:global>
      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: #eceff4;
          }
        }
      }

      a.anchor {
        background-color: var(--background);
        text-decoration: none !important;
        background-image: none;

        &:visited {
          background-color: var(--background);
          text-decoration: none !important;
          background-image: none;
        }

        &:hover,
        &:focus {
          background: var(--secondary-100);
          background: linear-gradient(
            45deg,
            var(--secondary-100) 0%,
            var(--primary-100) 50%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    </style>
  </body>
</html>
